<form id="formLogin" method="post" action="/login">
    <table class="auxiliaryTables">
        <tr>
            <td class="login_field" colspan="2">
                <input type='text' name='email' value='' placeholder="E-mail" class="field">
            </td>
        </tr>
        <tr>
            <td class="login_field" colspan="2">
                <input type='password' name='password' value='' placeholder="Пароль" class="field"/>
            </td>
        </tr>
        <tr>
            <td class="login_field" colspan="2">
                <input type="submit" value="ВОЙТИ" id="login_b">
            </td>
        </tr>
    </table>
</form>

